/Lab1/build/
/Lab2/nbproject/private/
/Lab2/build/
/Lab4/Code/TotSeriesParser/nbproject/private/
/Lab4/Code/TotSeriesParser/build/
/Lab4/Code/TotSeriesParser/dist/
/Lab5/Code/TotSeriesParser/nbproject/private/
/Lab5/Code/TotSeriesParser/build/
/Lab5/Code/TotSeriesParser/dist/